@font-face {
  font-family: Segeo UI;
  src: url(../../fonts/Segoe\ UI.ttf);
}

:root {
  --bg-color: #121212;
  --color: #fff;
  --btn-color: #7f39fb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segeo UI", sans-serif;
  color: var(--color);
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  gap: 0.4rem;
  text-align: center;
  width: 22rem;
}

img {
  width: 5rem;
  margin-top: 0.75rem;
}

.title {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

a {
  color: var(--btn-color);
  margin: 0;
}

.line {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
}

.center {
  justify-content: center;
  align-items: center;
}

.line .textLabel {
  width: 6rem;
  text-transform: uppercase;
}

.line input[type="text"],
.line input[type="password"] {
  flex: 1 1;
  border: thin solid var(--color);
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  outline-color: transparent;
  background-color: transparent;
}

.line input[type="checkbox"] {
  accent-color: var(--btn-color);
  margin-right: 0.3rem;
}

.col {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.save {
  border: none;
  background-color: var(--btn-color);
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.mt {
  margin-top: 1rem;
}

.not-selected {
  opacity: 0.4;
}

#mode li {
  list-style: none;
  flex-grow: 1;
}

#mode {
  flex-wrap: wrap;
}

#mode button {
  background-color: var(--btn-color);
  border: none;
  text-align: center;
  padding: 0.3rem 0.75rem;
  cursor: pointer;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

#version {
  font-size: 0.75rem;
}

#message {
  display: none;
  margin-top: 0.75rem;
  margin-bottom: -0.25rem;
}

#reloadModel {
  cursor: pointer;
}

#reloadModel[disabled] {
  cursor: not-allowed;
  opacity: 0.75;
}
